/* 

BEM É UMA METODOLOGIA http://getbem.com/ BLOCK ELEMENT MODIFIER
BLOCK: SÃO BLOCOS DA PÁGINA QUE PODEM SER REUTILIZADOS
-MENU
-LOGO
-INPUT + BOTAO DE BUSCA
-INPUT LOGIN, SENHA + BOTAO, ETC
-TUDO ISSO JUNTO É O BLOCO CABEÇALHO POR EXEMPLO
-PODE REPETIR VÁRIAS VEZES E REUTILIZAR O BLOCO
-BLOCOS PODEM FICAR DENTRO DE OUTROS, MAS UM NÃO DEPENDE DO OUTRO
-DÁ PARA REAPROVEITAR BLOCOS EM OUTROS LUGARES

ELEMENTO: UM BLOCO TEM VÁRIOS ELEMENTOS, NÃO FUNCIONA SOZINHO DEPENDEM DO BLOCO
-CADA ABA DO MENU

MODIFIER: UMA MARCAÇÃO NO BLOCO, PARA MUDAR A APARÊNCIA, ESTADO OU COMPORTAMENTO DO BLOCO, ELE PRECISA DO BLOCO PARA EXISTIR
-MAIS POPULAR É UM MODIFIER USADO EM PLANO PARA DIFERENCIAR UM PLANO
*/

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

header{
	height: 60px;
	border-bottom: 1px solid #ccc;
}

header img{
	margin-top: 12px;
}

/*
.container{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
*/
ul.menu{
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.menu > li{
	display:inline-block;
	border:3px solid red;
	padding: 5px;
}

#planos{
	padding: 80px 0;
}

/* Aplicará depois do elemento */
#planos::after{
	content: "";
	display: block;
	clear: both;
}

article{
	border: 1px solid #95a4a5;
	padding: 10px;
}

/* a partir de 600 px aplicará 
@media(min-width: 600px){
	article{
		background-color: yellow;
	}
}
 até 600 px aplicará 
@media(max-width: 600px){
	article{
		background-color: green;
	}
}

 a partir de 800 px aplicará 
@media(min-width: 800px){
	article{
		width: 30%;
		float: left;
		margin-right: 5%;
	}
}

*/

article > h2{
	background-color: #95a4a5;
	color: #fff;
	text-align: center;
	line-height: 2.5;
	margin: -10px;
	margin-bottom: 0;
	font-weight: normal;
	font-size: 28px;
}

article > div{
	text-align: center;
	font-size: 28px;
	margin: 20px 0;
}

article > ul{
	list-style: none;
	padding: 0;
	margin: 20px 0;
}

article > ul > li{
	text-align: center;
}

article > footer{
	text-align: center;
}

.botao{
	display:inline-block;
	background-color: #127d00;
	color: #fff;
	padding: 12px 16px;
	text-decoration: none;
}

.botao:hover, .botao:focus{
	background-color: #0e6400;
}

/* 

Zerar o css 

Para não precisar depender do padrão do navegador
Sempre importar antes dos outros arquivos css para não sobrescrever
bit.ly/resetcss 
bit.ly/normalizecss -- bootstrap usa o normalize 

*/